body {  
    display: flex;
    justify-content: center;  
    align-items: center;  
    min-height: 100vh;
}


.loading-section {  
    background-color: rgba(169, 182, 182, 0.466);
    max-width: 50%;  
    padding: 20px;
    padding-left:50px;
    padding-right:50px;
    line-height: 1.4;  
    border-radius:7%;
    font-size: 1.2rem;  
    font-weight: bold;  
    text-align: center;
}


.loading-line {  
    font-weight: normal;  
    font-size: 0.9rem;  
    color: rgb(153, 144, 144);  
    margin: 0.6rem 0 2rem 0;  
    display: block;
}
@keyframes rotate { 
    to { 
         transform: rotate(1turn);
    }
}


.loading-anim {   
    width: 35px;   
    height: 35px;   
    display: inline-block;   
    border: 5px solid rgba(158, 157, 156, 0.25); 
    border-left-color: rgb(98, 190, 235);  border-top-color: rgba(3,155,229 ,1); 
    border-radius: 50%;
    animation: rotate 500ms infinite linear;
    
   
}


   